/* 
text gray color: GRAY 8 #343a40
main-color (here to emphasize): teal 9 #087f5b (lime for h3)
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  border: 1px solid palevioletred;
}

.container {
  width: 72%;
  margin: 100px auto 0;
  border: 1px solid blue;
}

.qa-section {
  border: 1px solid green;
}

.question {
  display: flex;
  padding: 16px 8px;
  gap: 20px;
  color: #343a40;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: 0.5px;
}

h3 {
  flex-grow: 3;
}

svg.open-icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

p.answer {
  font-size: 1.2rem;
  margin: 12px 72px 24px;
  line-height: 1.7;
}

.hidden {
  display: none;
}

.active {
  color: #087f5b;
}
